@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap");
%btn {
  color: $alternateColor;
  font-size: 17px;
  font-weight: 400;
  line-height: 139%;
  letter-spacing: 0.1em;
  background-color: $accentColor;
  padding: 21px 50px;
  border: 1px transparent solid;
  text-decoration: none;
  display: inline-block;
  transition: 0.7s;
}
%text_size15 {
  color: $mainColor;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 21px;
}
%text_size17 {
  color: $mainColor;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 24px;
}
%text_size20 {
  color: $mainColor;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 28px;
}
@mixin container_box($max_width, $width, $padding, $margin) {
  max-width: $max_width;
  width: $width;
  padding: $padding;
  margin: $margin;
}

@mixin text_box($font, $color, $size, $weight, $spacing) {
  font-family: $font;
  color: $color;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: 0.1em;
}

@mixin grid_box($grid, $templates_colums, $templates_rows, $just_cont) {
  display: $grid;
  grid-template-columns: $templates_colums;
  grid-template-rows: $templates_rows;
  justify-content: $just_cont;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font;
  font-size: 17px;
  font-weight: 500;
  color: $mainColor;
  .container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    .btn {
      @extend %btn;
    }
    .btn:hover {
      background: transparent;
      border: 1px $accentColor solid;
      color: $accentColor;
    }
    .title {
      font-size: 55px;
      margin-bottom: 26px;
      @media (max-width: 920px) {
        font-size: 35px;
      }
    }
    .title-section {
      font-size: 40px;
      font-weight: 500;
      @media (max-width: 1100px) {
        text-align: center;
      }
      @media (max-width: 920px) {
        font-size: 30px;
      }
      @media (max-width: 385px) {
        text-align: center;
      }
    }
    .caption {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 0.1em;
    }
    .breadcrumbs {
      margin-bottom: 122px;
    }
    @media (max-width: 920px) {
      .breadcrumbs {
        margin-bottom: 62px;
      }
    }
    .breadcrumbs a {
      text-decoration: none;
      color: $mainColor;
    }
    .breadcrumbs .active {
      color: $fadedColor;
    }
  }
}
%text_shop {
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  letter-spacing: 0.1em;
  text-align: left;
}
